table {
  thead tr {
    background-color: var(--ol-subtle-foreground-color);
    color: white;
    font-weight: bold;
  }
  tr {
    height: 36px;
  }

  tr:nth-child(even) {
    background-color: #e6e6e6;
  }

  /*tr:nth-child(odd) {
      background-color: #f9f9f9;
    }*/

  td {
    /*min-width: 360px;*/
    padding: 0 16px;
  }
}

.docs > p:first-of-type {
  color: #333;
  margin: 10px 0;
  font-size: 1.8rem;
  font-weight: 600;
}
.docs {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  h1 {
    font-size: 2.54rem;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  h2 {
    font-size: 1.875rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
  }
  h3,
  h4 {
    background-color: #101828;
    min-height: 48px;
    color: white;
    margin: 10px 0;
    padding: 0 10px;
    border-radius: 4px;
  }
  h4,
  h3 {
    min-height: 44px;
    font-size: 1.5rem;
  }
  blockquote {
    background: #efefef;
    padding: 1px 16px;
    margin-left: 0;
    margin-right: 0;
    border-left: #cecece solid 10px;
    border-radius: 3px;
    p {
      margin: 4px 0;
      line-height: 1.65;
      font-size: 1.2rem;
    }
  }
  pre {
    border: #bbc6ce solid 1px;
    margin: 6px 0;
  }
}
