body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

#ol-geom-editor-map {
  width: 100%;
  height: 480px;
}

.do {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  .operation {
    width: 24%;
    &:nth-child(1) {
      width: 28%;
    }
    button {
      margin: 5px;
      height: 32px;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: darkcyan;
        color: white;
      }
    }
    select {
      margin: 5px;
      height: 32px;
      border-radius: 4px;
    }
    .draw {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
    }
  }
}

.none {
  display: none;
}
